
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <body>
    <div class="top">
      <div class="padding-card" style="letter-spacing:4px;">
        <a href="#home" class="button1"><i class="bi bi-house-fill"></i> Home</a>
        
        <div class="right">
          <a href="nav-link"[routerLink]="['/quiz']"class="button1"><i class="bi bi-patch-question-fill"></i>Quizes </a>
          <a href="nav-link"[routerLink]="['/guide']"class="button1"><i class="bi bi-list-stars"></i> Guidelines </a>
          <a href="nav-link"[routerLink]="['/instruct']"class="button1"><i class="bi bi-telephone-fill"></i> Contact </a>
        </div>
      </div>
    </div>
  </body>
    

        <div class="c" style="max-width:1660px">

         
          <div class="padd" id="projects">
            <h3 class="bb">Quizes</h3>
          </div>
        
          <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="con">
                <img src="./assets/imag/science.jpg" alt="House" style="width:100%">
                
                  <button  class ="button1" class="tl"href="nav-link"[routerLink]="['/science']" > Science Quiz </button>
              
              </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="con">

                <img src="./assets/imag/jk.jpg" alt="House" style="width:100%">
                <button  class ="button1" class="tl"href="nav-link"[routerLink]="['/general']" > General Quiz </button>
              </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="con">
                
                <img src="./assets/imag/math.jpg" alt="House" style="width:100%">
                <button  class ="button2" class="tl"href="nav-link"[routerLink]="['/math']" >Maths Quiz </button>
              </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="con">
                
                <img src="./assets/imag/history.jpg" alt="House" style="width:100%">
                <button  class ="button2" class="tl"href="nav-link"[routerLink]="['/history']" > History Quiz </button>
                
              </div>
            </div>
          </div>
      
            
          </div>


  
 
