
<body>
      <div class="top">
        <div class="padding-card" style="letter-spacing:4px;">
          <a href="#home" class="button1"><i class="bi bi-house-fill"></i>Home</a>
          
          <div class="right">
            <a href="nav-link"[routerLink]="['/quiz']"class="button1"><i class="bi bi-patch-question-fill"></i> Quizes </a>
            <a href="nav-link"[routerLink]="['/guide']"class="button1"><i class="bi bi-list-stars"></i> Guidelines </a>
            <a href="nav-link"[routerLink]="['/instruct']"class="button1"><i class="bi bi-telephone-fill"></i> Contact </a>
          </div>
        </div>
      </div>
    </body>
      
    
        
          <div class="center"><h1><i class="bi bi-stars"></i>Guidelines</h1><br>
         
<div class="guide1">
  
<p>1.Security features making it fair, transparent and standardized.</p>

<p>2.Candidate can take the test from the safe and secure environment</p><p> of his/her home,</p>
<p> with a desktop/laptop/smartphone (with a webcam) and an internet</p><p> connection (un-interrupted
internet speed is desirable).</p>
<p>3.Candidates are requested to take the test honestly, ethically, </p><p>and should follow all the
instructions.</p>
<br>
<div class="a1">

    <h2><i class="bi bi-stars"></i> Set Of Rules</h2><br>

  <p>1.Always keep note of the timer present.</p>
    
    <p>2.Test consists of 25 Questions</p>
   
    <p>3.Every correct answer will be awarded one mark !</p>
    <p>4.No negative Marking.</p>
  <p>5.Only Single choose questions </p><br>
  </div>
  </div>

</div>
